<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0,,maximum-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fire and FWI Prediction</title>

    <link rel="stylesheet"  type='text/css' href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- =========== Jquery JavaScript File =========== -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- =========== DataTable CSS and JS ==============-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <!-- =========================== Fixed Headers ================================== -->
    <!--<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.3.1/css/fixedHeader.dataTables.min.css"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>-->

    <!-- ========================= RESPONSIVE DATA-TABLES FOR SIZE ================================== -->
    <script type="text/css" src="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <!-- Button-->
    <script type="text/css" src="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <!-- SCRIPT FOR INITIALIZING DATATABLE PLUGIN --->

    <script type="text/javascript" charset='utf-8'>
        $(document).ready(function(){$('table').DataTable({
         paging: true,
         searching: true,
         "pageLength": 5,
         fixedHeader: false,
         pagingType: "full_numbers",
         'dom': '<B><br><br><lftpi>',
         buttons: ['csv', 'excel'],
          });
          });
    </script>

    <!---------- SETTING BACKGROUND---------->

  <style>
     /* Setting background image */

    body{
         color: white;
        font-weight:bold;
        background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url("static/4.jpg");

      /* The image used */
       /* background-image: url("static/1.png"); */

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black

    }
  </style>
  </head>

  <body>
  <h1 style="text-align: center;font-size:3em;background-color:rgb(0,0,0,0.3)">
    <span>FOREST FIRE &amp; FWI PREDICTION</span>
  </h1>
  <div class="sticky">
    <!-- ============ Instruction Tooltip =====-->

    <div class="tooltip" style="margin-left:10px"><button  style="color:black; font-size:1.5em;font-weight:bold; background-color:white;text-align:center; border:none; border-radius:5px;width:30px;height:30px">i</button>
        <span class="tooltiptext"><span style="font-weight:bold; font-size:2em">Instructions</span><br>
        <ol style="text-align:justify; padding:25px">
          <li>This webapp uses ensemble technique for making final prediction about FWI or FIRE occurance.</li><br>
          <li>The top two models from same stategy have been ensembled togather and the models with different strategies will copuled togather to make final prediction. However this
          coupling will be dependent on the information provided.</li><br>
          <li>You can either provide information through form or can uplaoad CSV file in proper format.</li><br>
            <li> You can use this app for Fire prediction as well as FWI prediction</li><br>
            <li>For Fire prediction all field are mandatory but month is optional</li><br>
           <li>For FWI prediction you can either provide all information mentioned in the form or can skip the optional fields. The app will take care of that.</li><br>
            <li>File tha you have to upload must have columns wih headers 'month', 'Temperature','RH', 'Ws','Rain',FFMC', 'FWI',DMC, DC and ISI
              for Fire prediction and for FWI prediction month and FWI can be omitted.</li>
            <li>You can download the final result as csv or excel file</li>
        </ol>
      </span>
    </div>

  <!----------- DIVIDINNG SCREEN INTO TWO COLUMNS ADN PUTTING INFO IN IT ----------->

  <div class="container">
  <div class="left-column">
  <div id="Classification">

    <!--<h1>Fire Prediction</h1>-->
    <form method="POST" action="{{ url_for('predict') }}" style="margin-top:50px; margin-left:40px">
      <br><br>
      <label>
        <input type="checkbox" name="FWI_prediction" value="yes" style="width: 7%; height:30px; margin-bottom:2px;padding:0px; border-left: 25px solid #ffa41c; border-right: 25px solid #ffa41c; border-radius:0.5vh;">
        <span style="font-size:30px">FWI Prediction</span>
      </label>

      <br>
      <!--<label for="Temperature">Temperature</label>-->
      <input type="number" id="Temperature" name="Temperature" step="any" class="square-input" placeholder="Temperature"  style="font-size:35px;width: 30%; height: 100px; margin-bottom:0px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;" required>

      <!--<label for="RH">Rlative Humidity:</label>-->
      <input type="number" id="RH" name="RH" step="any" class="square-input" placeholder="Relative Humidity" style="font-size:35px;width: 30%; height: 100px; margin-bottom:0x;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;" required>

      <!--<label for="Rain">Rain:</label>-->
      <input type="number" id="Rain" name="Rain" step="any" class="square-input" placeholder="Rain: Optional For FWI Prediction" style="font-size:35px;width: 30%; height: 100px; margin-bottom:0px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;">

      <!--<label for="WindSpeed">Wind Speed:</label>-->
      <input type="number" id="WindSpeed" name="WindSpeed" step="any" class="square-input" placeholder="WindSpeed: Optional For FWI Prediction" style="font-size:35px;width: 30%; height: 100px; margin-bottom:10px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;">

      <!--<label for="DC">DC:</label>-->
      <input type="number" id="DC" name="DC" step="any" class="square-input" placeholder="DC" style="font-size:35px;width: 30%; height: 100px; margin-bottom:10px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;" required>

      <!--<label for="FWI">FWI: </label>-->
      <input type="number" id="FWI" name="FWI" step="any" class="square-input" placeholder="FWI: Only For Fire Prediction" style="font-size:35px;width: 30%; height: 100px; margin-bottom:10px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;">

      <!--<label for="FFMC">FFMC: </label>-->
      <input type="number" id="FFMC" name="FFMC" step="any" class="square-input" placeholder="FFMC" style="font-size:35px;width: 30%; height: 100px; margin-bottom:10px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;" required>

      <!--<label for="DMC">DMC: </label>-->
      <input type="number" id="DMC" name="DMC" step="any" class="square-input" placeholder="DMC" style="font-size:35px;width: 30%; height: 100px; margin-bottom:10px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;" required>

      <!--<label for="ISI">ISI: </label>-->
      <input type="number" id="ISI" name="ISI" step="any" class="square-input" placeholder="ISI" style="font-size:35px;width: 30%; height: 100px; margin-bottom:10px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;" required>

      <!--<label for="BUI">BUI: </label>-->
      <input type="number" id="BUI" name="BUI" step="any" class="square-input" placeholder="BUI" style="font-size:35px;width: 30%; height: 100px; margin-bottom:10px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;" required>

      <select name="month" id="month" class="square-input" style="font-size:30px;width: 30%; height: 100px; margin-bottom:10px;padding:10px; border-left: 15px solid #ffa41c; border-right: 15px solid #ffa41c; border-radius:1.3vh;">
        <option value="">Select</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
      </select>

      <input class="submit" type="submit" value="Submit">
    </form>
  </div>
  </div>

    <!------------ SECOND COLUMN --------------->
    <div class="right-column">
        <!-- File Uploader -->

      <form method="post" action="{{ url_for('predict') }}" enctype="multipart/form-data" name="file" style="margin-top:92%;margin-bottom:0%;margin-left:0%;height:100px;width:100%">
        <input type="file" name="file" style="height:100px; width: 60%; margin-bottom:0px" required>
        <input type="checkbox" name="FWI_prediction" value="yes" style="width: 7%; height:30px; margin-top:10px;padding:0px; border-left: 25px solid #ffa41c; border-right: 25px solid #ffa41c; border-radius:0.5vh;">
        <span style="font-size:30px">FWI</span><br>
      <input class="upload" type="submit" value="Upload">
      </form>

        <!--
          <h1>{{PredictionHeading | safe}}</h1>

              {{prediction | safe}}

              {{message | safe}}
          -->

      </div>
    </div>
  </div>
  </body>
</html>
